<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FPGA_DNAProcessor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FPGA_DNAProcessor.Properties.Settings>
            <setting name="DefaultFPGAInCount" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="DefaultFPGAOutCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DefaultInitalPopulation" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DefaultFPGASquareSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="DefaultOutputDir" serializeAs="String">
                <value>C:\Apps\[__NewGuid__]</value>
            </setting>
            <setting name="DefaultShowFitnessGraph" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultGeneticSwap" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultGeneticMutation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultGeneticMutationN" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DefaultResumeToggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultCullHerd" serializeAs="String">
                <value>False</value>
            </setting>
        </FPGA_DNAProcessor.Properties.Settings>
    </userSettings>
</configuration>